



html
{
    font-size:16px;
    font-family: Lovelo, Indie Flower;
}

*
{
    text-decoration: none;
    margin:0;
    padding:0;
    text-indent:0;
    border:0;
    color:inherit;
    font-size:1em;
   
}
body
{
    width: 100%;
    min-height: 100%;
}



.logo div h1
{
    line-height: 8rem;
    text-align: center;
    font-size: 2.4rem;
	font-style: italic;
	font-family: Lovelo, serif;
    color: pink;
	background: -webkit-linear-gradient(left, LightSalmon,pink,#CCCCFF,lightblue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
 

}

.logo div
{
    text-align: center;
    height:8rem;
    margin-top:3.3rem;
    background-image: url("../Imagini/flower.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1.5rem;
    background-position: 37%;




    
}




@font-face {
    font-family: Lovelo;
    src: url("../Fonturi/Lovelo Line Light.otf") format("opentype");
}



#menu
{
    font-family: Indie Flower;
    color:#CCCCFF;
    text-align: center;
    width: 95%;
    margin:auto;
    top:0;
    position: -webkit-sticky;
    position:sticky;
    height: 1.4rem;
   

}
#menu > ul
{

    width: 100%;
    margin:0;
     background-color: white;
     border: 0.1em solid #CCCCFF;
     margin-bottom: 12rem;
}
#menu > ul > li
{

    list-style: none;
    display: inline-block;
    margin:0.1rem;
    height: 100%;
    position:relative;
    width: 12%;

}
#menu > ul > li > a
{
    height: 100%;
    font-size:1.2rem;
    padding: 0.3rem;
}

#menu li ul
{

    
    
    position:absolute;
    list-style:none;
    text-align:center;
    width:100%;
    top:1.85em;
    max-height:0rem;
    overflow:hidden;
    background-color: white;
            border:0.001rem solid #CCCCFF;


    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}
#menu li:hover ul{
    max-height:11rem;
    border:0.1rem solid #CCCCFF;
}

#menu li ul li a
{
    text-decoration:none;
    display:block;
    font-size: 1.2em;
}

#menu li ul li:nth-child(odd)
{ 
    
    color: #ebd0f7;
}
#menu li ul li:nth-child(even)
{ 
    
    color:  #ffb6c4;
}
#menu li ul li:nth-child(even):hover
{ 
    color:lightsalmon;
}
#menu li ul li:nth-child(odd):hover
{
    color: #d1beff;
}

.footer-div
{
    clear: both;
    position: relative;
    font-family: Overlock SC;
    font-size: 1em;
    width:100%;
    bottom:0;
    border-top: 0.1em solid pink;
    padding-top: 1%;
    color: lightpink;
    margin-top: 5em;
  



}
.footer-left
{

    width:20%;
    margin: auto;
    float:left;
    text-align: center;
    margin-left:10%;
    height: auto;
    
}
.footer-right
{
    height: auto;
    width: 20%;
    margin:auto;
    float:left;
    text-align: center;
    

}
.footer-bottom
{
    float: left;
    font-size: 0.8em;
    width: 40%;
    margin:auto;
    text-align: center;
    bottom: 0;
    

}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    #menu li ul
    {
        width: 700%;
        margin-left:-11rem;
    }
    #menu li:hover ul{
    max-height:5rem;
}
#menu li ul li
{  
 display: inline-block;
 padding: 0.5rem;
  }
   
    }

@media only screen and (max-width: 600px) {
    
html
{
    font-size: 9px;
}
#menu
{
    width: 70%;
    margin:auto;
    


    
}

#menu > ul > li
{
    display: block;
    width: 100%;
    margin:auto;


}

#menu li ul
{
    width: 100%;
    margin:auto;
  
    transition-duration:0s;


}
#menu li ul li
{  
 display: block;
  }
#menu
{
    margin-bottom: 2rem;
}
#menu li:hover ul
{
    right:-0.1rem;
}
#menu>ul>li:nth-child(2):hover ~ li{
    display: none;
}
}



