html
{
	font-family:  'Overlock SC', cursive;
	font-family: 'Cinzel', serif;
}
article
{
    margin-top:12rem;

}

h3
{
	font-size: 1.5rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}
.entry-title
{
	text-align: center;
	font-family: Cinzel, serif;
	color: #c2c2d6;
	font-size: 3em;
	text-shadow: 0.04em 0.04em #8c8cc0;

}
.entry-introd
{
	font-family: Overlock SC, cursive;
	font-size:1em;
	margin: auto;
	width:40%;
	color: #c2c2d6;
	
}
.entry-content
{
	
	margin: auto;
	width:60%;
	margin-top: 2rem;
	font-family: Indie Flower;
	color: #9595b7;
	font-size: 1.2rem;
	padding: 3rem;
	border:0.05em solid #c2c2d6;
	text-align: justify;




}

.entry-content p

{
	text-indent: 1em;
}
#cond-fig
{

	width: 35%;
	float:right;
	text-align: center;
	font-size: smaller;
	font-style: italic;
	font-family: Indie Flower;
	font-weight: bold;
	




}
#cond-fig a img
{
	width: 80%;
	height: auto;

}
article ul
{
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 3em;
	list-style: square outside url("../Imagini/ball-pin.png");
}
table
{
	width: 80%;
	margin: auto;
	margin-top: 5rem;
	border-collapse: collapse;
	text-align: center;
	
}
table td, th
{
	border: 0.1rem solid #c2c2d6 ;
	width: 50%;
}
table thead
{
	background-color: lavenderblush;
}
table caption
{
	margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {

	.entry-title
	{
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.entry-content
	{
		font-size: 1rem;

	}
	article
	{
		margin-top: 14rem;
	}
}
@media only screen and (max-width: 800px) and (min-width: 601px) {

	.entry-title
	{
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.entry-content
	{
		font-size: 1rem;
	}
	article
	{
		margin-top: 4rem;
	}
}


